<html>
    <head>
        <title>Cosito de Aylén</title>
    <h1>Titulazo vamo eeeeeee</h1>
    <h2>Bueno, tampoco tanto</h2>
    <h3>A ver de qué tamaño sale esto?</h3>
<body>
    <p>Hola culona!</p>
    <p>Esto andaaaaaaaaaaaaaaaaa</p>
    <em>esto está en cursiva supuestamente</em>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <strong>y esto negrito como tu ano</strong>
    <br>
    <a href="https://clubargentec.org/dashboard/mis-itinerarios">link</a>
    <div></div>
    <p>ahora va una listonta</p>
    <ul><li>canelones</li><li>lomito</li><li>risoto</li><li>panchitos</li><li>otra opción</li></ul>
</body>
</html>

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>